@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

$font-family-default: Roboto, sans-serif;

* {
  font-family: $font-family-default;
}

@mixin font-primary {
  color: $c-text-primary;
  font-family: $font-family-default;
  font-weight: 500;
  font-size: 15px;
}

@mixin font-secondary {
  color: $c-text-secondary;
  font-family: $font-family-default;
  font-size: 15px;
}

@mixin font-title {
  color: $c-text-primary;
  font-family: $font-family-default;
  font-weight: 500;
  font-size: 24px;
}
