$c-black: #303030;
$c-black-light: #505050;
$c-gray: #909090;
$c-gray-light: #ddd;
$c-gray-lightest: #f1f1f1;
$c-white: #fff;

$c-brand: #47a297;
$c-brand-dark: #518d9a;
$c-green: #8fc853;
$c-yellow: #fdf42b;
$c-red: #fdf42b;

$c-blue-lightest: #d6e0f1;
$c-white-blue: #f5f9ff;
$c-white-light-blue: #e4ecfa;
