@import "palette";

// Text
$c-text-primary: $c-black;
$c-text-secondary: $c-gray;

// Buttons
$c-button-primary: $c-gray-lightest;
$c-button-secondary: $c-gray-light;

// Background
$c-background: $c-white;
$c-background-card: $c-white;
$c-text-input: $c-gray-lightest;

// Cards
$c-card-background: $c-white;
