@import "palette";

// Text
$c-text-primary: $c-black;
$c-text-secondary: $c-gray;

// Buttons
$c-button-primary: $c-brand;
$c-button-secondary: $c-white;

// Background
$c-background: $c-blue-lightest;
$c-background-card: $c-white;

// Cards
$c-card-background: $c-white;
